***/.terraform/*
terraform/stacks/*/.terraform.lock.hcl


*.tfstate
*.tfstate.*
*.swp
crash.log

*.tfvars
!terraform.tfvars
terraform/stacks/*/terraform.auto.tfvars
terraform/stacks/*/s3_backend.tf
**/.DS_Store
#secrets
